@model ContractViewModel
<!--CSS Style Calling-->
@section Styles {
    <link rel="stylesheet" href="~/css/indexPage.css" />
}

<div class="IndexPageWrapper">

<div class="text-center">

    <div class="filteringGroups">
    <!--Search From-->
    <form class="searchForm" method="post" asp-action="Contract">
    <input type="search" class="searchBar" placeholder="Enter Institu Name.." asp-for="@Model.InstitueNameSearch"/>
    <input type="submit" class="submitButton" value="Search" />
    <div class="errorDiv">
        <span class="ErrorSearchServerSide" asp-validation-for="@Model.InstitueNameSearch"></span>
    </div>
    </form>

     <!--Export Data Form-->
        <form class="searchForm" method="post" asp-action="ExportContractsToExcel">
             <input type="submit" class="submitButton" value="Export Contracts To CSV or .xlsx sheet" />
            <div class="errorDiv">
               <!--If wanted provide validation for select box -->
             </div>
        </form>
    </div>
    <!--Each Contract will have it is own table and Own Details of Advisors and Adminstrators-->
    @{

        for(int i =0;i < Model.contracts.Count; i++)
        {
            <div class="tableDetailsWrapper"> 
             <table class="table">
        <thead>
          <tr>
            <th>Contract ID</th>
            <th>Registeration Number</th>
            <th>Institution</th>
            <th>Client Name</th>
            <th>Conclusion Date</th>
            <th>Validity Date</th>
            <th>Termination Date</th>
            @{
                if (User.Identity.IsAuthenticated == true && User.IsInRole("Admin")) {
            <th>Actions</th>
                }
                }
            
          </tr>
        </thead>

        <tbody>
          
          <tr>
            <th rowspan="3" data-label="Test Suit ID">@Model.contracts[i].Id</th>

            <th rowspan="3" data-label="Test Suit Description">
              @Model.contracts[i].RegisterationNumber
            </th>

            <th data-label="Test Case ID">@Model.contracts[i].Institution</th>

            <th data-label="Test Case Description">
             @Model.contracts[i].Client.Name
            </th>

            <th data-label="Test Case Steps" class="testCaseStepsCell">
             @Model.contracts[i].ConclusionDate
            </th>

            <th data-label="Preconditions">
              @Model.contracts[i].ValidityDate
            </th>
            
            <th>@Model.contracts[i].TerminationDate </th>
            @{
                if (User.Identity.IsAuthenticated == true && User.IsInRole("Admin")) {
            <th class="actionButtons">

            <a asp-action="DeleteContract" asp-route-contractId="@Model.contracts[i].Id" onclick="return confirm('Delete The Selected Contract?')" >DELETE</a>
            <a asp-area="Admin" asp-controller="Contract" asp-action="Edit" asp-route-id=@Model.contracts[i].Id >EDIT</a>
            </th>
                }
            }
          </tr>
        </tbody>
      </table>
      <details class="tableDetails">
                <summary>Contract Details</summary>
                <div>
                    <h4>Contract Advisors</h4>
                    <table style="width:41.667%" class="table table-responsive table-bordered">
                        <tr>
                            <th class="col-sm-3">Advisor Name</th>
                            <th class="col-sm-1">Advisor SurName</th>
                            <th class="col-sm-1">Advisor is Admin</th>
                        </tr>

                        @{
                            foreach (var Advisor in Model.contracts[i].ContractAdvisors)
                            {
                                
                                    <tr>
                                        <td class="col-sm-3">@Advisor.Advisor.Name</td>
                                        <td class="col-sm-1">@Advisor.Advisor.SurName</td>
                                    <td class="col-sm-1"> @{
                                            String isAdmin = "";
                                            if (Advisor.isAdminstrator == 1)
                                               isAdmin=  "Yes";
                                            else
                                               isAdmin=  "No";
                                        } @isAdmin</td>
                                </tr>
                                
                            }
                        }
                    </table>
                </div>
            </details>
            </div>
        }

    }
</div>
</div>